.navigation ul {
	padding-left: 0em;
}

#container {
	height: auto !important;
	height: 1080px;
}

#footer {
	bottom: -1px;
}

.rbcontent {
	overflow: visible;
}

.box .intro {
	padding: 10px 0;
	width: 100%;
}
.box .intro .text {
	padding-right: 5px;
}

.box .head a:hover {
	color: rgb(255, 255, 255);
}
.box .content {
	width: auto;
}

#tabs {font-size: x-small; margin-bottom:22px;}

#ltabs {height:0px; float:left}
#rtabs { float:right;position: relative; bottom:0px; padding-right:10px; }

DIV.tabs A { 
   padding-bottom   : 0px; 
   padding-top      : 0px; 
   text-decoration  : none !important; 
   font-size        : x-small !important; 
   cursor           : pointer; 
}

