body, table {
	font-family: verdana,tahoma,arial,helvetica,sans-serif;
	font-size: 8pt;
	font-weight: normal;
}

body {
	background-image: url('images/body-bg.png'); margin: 10px;
	background-color: #efc418;	
	background-repeat: repeat-x;
}

table            
{
font-size: 10px; 
color: #000000;
}

td, th
{
font-size: 10px; 
color: #000000;
}

.smalltext       
{ 
font-size : 10px; 
color: #000000;
}

.mediumtext      
{ 
font-size : 11px; 
color: #000000;
}

.largetext       
{ 
font-size : 13px; 
color: #000000;
}

.catrowtext      
{ 
	font-weight: bold;
	font-size: 13px;
	color: #444444;
}

.toprowtext      
{ 
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

/* Cell Properties */

TD.row1
{ 
	background-color: #e8e7e7;
	font-size : 13px; 
	color: #494957
}     
     
TD.row2	        /* ugly colors, to look which html uses them still - should have removed all occurences now */
{ 
	background-color: #00FF00;
	font-size : 12px; 
	color: #FF00FF
}

TD.row3
{ 
	background-color: #FFFFFF;
	font-size : 12px; 
	color: #494957
}

TD.catrow
{ 
	/* font-family: Verdana; */
font-size : 12px; 
font-weight: bold;
}

TD.toprow, TH.toprow
{
	color: #fff;
	font-weight: bold;
	background: #a82709;
	background-image: url('images/par-head.png');
	background-repeat: repeat-x;
	padding: 6px;
	font-size: 12px;
}

TD.tableborder	  
{ 
	background-color: #c0c0c0;
}

/* Link Properties */

a                         { text-decoration: underline; font-size: 11px; color: #a33; }  
a:link                    { text-decoration: underline; font-size: 11px; color: #a33; }
a:visited                 { text-decoration: underline; font-size: 11px; color: #a33; }
a:hover                   { text-decoration: none; font-size: 11px; color: #f00; } 

a.forumlink               { text-decoration: underline; font-weight: bold; font-size: 13px; color: #a33; }
a.forumlink:link          { text-decoration: underline; font-weight: bold; font-size: 13px; color: #a33; }
a.forumlink:visited       { text-decoration: underline; font-weight: bold; font-size: 13px; color: #a33; }
a.forumlink:hover         { text-decoration: none; font-size: 13px; font-weight: bold; color: #f00; }
   
a.topiclink               { text-decoration: underline; font-size: 13px; color: #a33; }  
a.topiclink:link          { text-decoration: underline; font-size: 13px; color: #a33; }
a.topiclink:visited       { text-decoration: underline; font-size: 13px; color: #a33; }
a.topiclink:hover         { text-decoration: none; font-size: 13px; color: #f00; }  

a.toprowlink              { text-decoration: none; font-size: 9px; color: #000000; }   
a.toprowlink:link         { text-decoration: none; font-size: 9px; color: #000000; }
a.toprowlink:visited      { text-decoration: none; font-size: 9px; color: #000000; }
a.toprowlink:hover        { text-decoration: underline; font-size: 9px; color: #877751; } 
     
a.smalllink               { text-decoration: underline; font-size: 10px; color: #a33; }   
a.smalllink:link          { text-decoration: underline; font-size: 10px; color: #a33; }
a.smalllink:visited       { text-decoration: underline; font-size: 10px; color: #a33; }
a.smalllink:hover         { text-decoration: none; font-size: 10px; color: #f00; }   
  
a.mediumlink              { text-decoration: underline; font-size: 11px; color: #a33; }  
a.mediumlink:link         { text-decoration: underline; font-size: 11px; color: #a33; }
a.mediumlink:visited      { text-decoration: underline; font-size: 11px; color: #a33; }
a.mediumlink:hover        { text-decoration: none; font-size: 11px; color: #f00; }   
    
a.largelink               { text-decoration: underline; font-size: 13px; color: #a33; }
a.largelink:link          { text-decoration: underline; font-size: 13px; color: #a33; }
a.largelink:visited       { text-decoration: underline; font-size: 13px; color: #a33; }
a.largelink:hover         { text-decoration: none; font-size: 13px; color: #f00; }         

/* Form elements */

input, textarea, select 
{
  color : #000000;
  font-size : 12px;
}

/* for the tree view */
.ftvtree {
	font: normal 8pt/normal verdana, tahoma, arial, helvetica, sans-serif;
	background: rgb(239, 196, 24) url('images/body-bg.png') repeat-x scroll 0 0;
	margin-top: 0px;
	margin:0.5em;	
}
.directory { font-size: 9pt; font-weight: bold; }
.directory h3 { margin: 0px; margin-top: 1em; font-size: 11pt; }
.directory > h3 { margin-top: 0; }
.directory p { margin: 0px; white-space: nowrap; }
.directory div { display: none; margin: 0px; }
.directory img { vertical-align: -30%; }
