:root {
  --primary-color: #27b5e8;
}

td, th {
  border: 1px solid #ddd;
  padding-inline: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr {background-color: white;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
}

.pagination {
  display: inline-block;
  align-self: center;
}

.pagination .more {
  color: black;
  float: left;
  padding: 15px 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
