{% extends "layout.html" %}

{% block content %}
<table border="0" cellpadding="2" cellspacing="1" width="100%">
  <tr align="center">
    <td class="toprow" colspan="3" style="text-align: left; margin-left: 0pt; margin-right: auto;">
      <b><span class="toprowtext">Changesources</span></b>
    </td>
  </tr>

  {% if sources %}
  <tr align="center">
    {% for s in sources -%}
      <td style="text-align: left;" class="{{ loop.cycle('row1', 'row3') }}">
        {{ s.describe() }}
      </td>
    {% endfor -%}
  </tr>
  {% else %}
  <tr align="center">
    <td style="text-align: left;" class="row1">
      none (push only)
    </td>
  </tr>
  {% endif %}
</table>

{% endblock %}
