{% extends "layout.html" %}
{% from 'build_line.html' import build_line %}

{% block content %}
<table border="0" cellpadding="2" cellspacing="1" width="100%">
  <tr align="center">
    <td class="toprow" colspan="3" style="text-align: left; margin-left: 0pt; margin-right: auto;">
      <b><span class="toprowtext">Last {{ num_builds }} builds of builder {{ builder_name|e }}: {{ branches|join(', ')|e }}</span></b>
    </td>
  </tr>

  {% for b in builds %}
  <tr>
    <td>
      {{ build_line(b) }}
    </td>
  </tr>
  {% else %}
  <tr>
    <td>
      No matching builds found
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
