%ul.activityView
  = yield
  / %li.col-xs-12.milestone
  /   .col-xs-12.col-sm-2
  /     %span DD Month YYYY
  /   .activtyRight.col-xs-10.hidden-xs
  /     .activity
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12.milestone
  /   .col-xs-12.col-sm-2
  /     %span DD Month YYYY
  /   .activtyRight.col-xs-10.hidden-xs
  /     .activity
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12.milestone
  /   .col-xs-12.col-sm-2
  /     %span DD Month YYYY
  /   .activtyRight.col-xs-10.hidden-xs
  /     .activity
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12.milestone
  /   .col-xs-12.col-sm-2
  /     %span DD Month YYYY
  /   .activtyRight.col-xs-10.hidden-xs
  /     .activity
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12
  /   .activtyLeft.col-xs-12.col-sm-2
  /     .pull-right Action Taken
  /   .activtyRight.col-xs-12.col-sm-10.col-md-9.col-lg-8
  /     .activity
  /       .meta
  /         %img.profilePic{:src => "http://lorempixel.com/60/60"}/
  /         Username
  /       .message
  /         alias consequatur aut perferendis sit voluptatem accusantium doloremque aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo aspernatur aut odit aut fugit sed quinon provident sed ut perspiciatis unde omnis iste natus error similique sunt in culpa qui officia deserunt mollitia animi id est laborum et dolorum fuga et.
  / %li.col-xs-12.milestone.showMore
  /   .col-xs-12.col-sm-2
  /     %span
  /       %button.btn.btn-info Load More
  /   .activtyRight.col-xs-10.hidden-xs
  /     .activity